@model ProductVM

<form method="POST" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            <hr />
        </div>
        <input asp-for="Product.Id" hidden />
        <input asp-for="Product.ProductImage" hidden />
        <div class="mb-3 row p-1">
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" type="text" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" type="text" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ISBN" class="p-0"></label>
            <input asp-for="Product.ISBN" type="text" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Author" class="p-0"></label>
            <input asp-for="Product.Author" type="text" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" type="text" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" type="text" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" type="text" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price100" class="p-0"></label>
            <input asp-for="Product.Price100" type="text" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.CategoryId" class="p-0"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class=" form-select border">
                <option disabled selected>--Select Category</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ProductImage" class="p-0"></label>
            <input  type="file" name="file" class="form-control" />
            <span asp-validation-for="Product.ProductImage" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">
                    Product List
                </a>
            </div>
        </div>
    </div>
</form>
@*This section handles the client side validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}